@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.destaque {
  font-family: "Alkatra";
}

#container {
  width: 21cm;
}

#container > div {
  display: block;
  transform: scaleX(0.9);
}

.container-rifa {
  border: 2px solid black;
  height: 220px;
  display: flex;
  align-items: center;
  position: relative;
  display: none;
}

.canhoto {
  padding: 1rem;
  width: 260px;
  border-right: 2px dotted black;
  margin-right: 2rem;
  padding-right: 2rem;
}

.canhoto .container {
  margin: 1rem 0;
  line-height: 1.8rem;
}

.canhoto .row {
  display: flex;
}

.canhoto span {
  display: block;
  width: 100%;
  border-bottom: 1px dotted gray;
}

.canhoto strong {
  font-size: 12px;
}

.canhoto h4 {
  text-align: center;
}

.canhoto h4 span {
  display: inline;
  border: none;
  color: red;
}

.corpo {
  flex: 1;
  text-align: center;
}

.corpo .valor {
  margin: 0.4rem 0;
  color: red;
}

.corpo .numero span {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  margin: 0.4rem 0;
}

.premios {
  padding: 1rem;
}

.container-premios {
  padding: 1rem;
  padding-top: 2rem;
  border: 4px solid black;
  border-radius: 0.6rem;
  position: relative;
}

.container-premios::after {
  content: "Prêmios";
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-family: "Alkatra";
}
